{% extends 'base.html' %}
<!-- 'load' must be under 'extends'-->
{% block content %}
    <div class="container my-3">
        <h2 class="border-bottom my-4 py-4">Home</h2>
    </div>
    <div class="container my-3">
        <p class="border-bottom my-3 py-4">Test web site</p>
    </div>
    <div class="container my-3">
        <h2 class="border-bottom my-4 py-4">Contents</h2>
    </div>
    <div class="container my-3">
        <ol>
            <li class="my-3 py-4">
                Build graphene
            </li>
            <li class="my-3 py-4">
                Make DNA PDB file
            </li>
        </ol>
    </div>
{% endblock %}